ul li.link-after a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #3db7ef;
  position: absolute;
  bottom: -5px; 
  left: 0;
  transition: all 0.3s ease;
  transform: scaleX(0);
}

@media (min-width: 1024px) {
  ul li.link-after:hover a::after,
  ul li.link-after.menu-nav a::after {
    transform: scaleX(1);
  }
}

@media (max-width: 1023px) {
  ul li.link-after a::after {
    display: none;
  }
}


.home-bg{
  background-image: url("./assets/Background.png");
  background-position:center;
  background-size: cover;
}

.label-shape {
  clip-path: polygon(0 0, 100% 0, 100% 0, 95% 100%, 0 100%);
}

.hover-item > img {
  filter: grayscale(0.4)
}
.hover-item:hover > img {
  filter: grayscale(0)
}


.hover-item:hover > div{
  left: 0;
}

.hover-item:hover > div span{
  opacity: 1;
}

.carusel::after{
  content: "";
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.carusel::before{
  content: "";
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 2;
  position: absolute;
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}